html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #aaa;
  user-select: none;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "MS Sans Serif", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

.dialog {
  display: none;
  z-index: 75;
}

#wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  /* display: block; */
}

#orientation-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #aaa;
  z-index: 100;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  display: none;
}

#app-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #aaa;
  z-index: 50;
  margin: 0 auto;
  display: none;
  /* pointer-events: none; */
}

#zeno-step-text {
  display: none;
}

#apps {
  margin-top: 20px;
  margin-left: 20px;
}

.desktop-app {
  padding: 10px;
  width: 84px;
  text-align: center;
}

.phone-app {
  padding: 10px;
  width: 84px;
  text-align: center;
  float: left;
}

.desktop-icon {
  height: 84px;
  border-radius: 5px;
}

.phone-icon {
  height: 84px;
  background-color: red;
  border-radius: 14px;
}

.icon img {
  margin-top: 12px;
}

.icon-label {
  font-size: 0.9em;
  width: 100%;
  text-align: center;
  color: black;
  padding-top: 4px;
}

.danaids-color {
  background-color: #dda;
}

.prometheus-color {
  background-color: #faa;
}

.sisyphus-color {
  background-color: #aaf;
}

.tantalus-color {
  background-color: #ada;
}

.zeno-color {
  background-color: #dad;
}


:focus {
  outline: none;
}

.instruction {
  margin-top: 10px;
  margin-bottom: 30px;
}

#sisyphus-slider-wrapper {
  margin-top: 1em;
  margin-bottom: 1.5em;
  height: 30px;
}

#sisyphus-slider {
  width: 200px;
  margin: 0 auto;
  /* transform: rotateZ(-45deg); */
}


/* DIALOGS
----------------------------------*/

/* Removing divider between message and buttons */
.ui-dialog .ui-dialog-buttonpane {
	border-width: 0px 0 0 0;
}

/* RADIOS
----------------------------------*/

.ui-checkboxradio-label .ui-icon-background {
	box-shadow: none;
}

.ui-button.ui-checkboxradio-label {
  border: 0px;
}

.ui-checkboxradio-label .ui-checkboxradio-icon {
  background-color: white;
}
.ui-checkboxradio-label.ui-checkboxradio-checked .ui-checkboxradio-icon {
  background-color: white;
}



/* BUTTONS
----------------------------------*/

/* Adjusting borders to make it more 3D old school */

button.ui-button,
html button.ui-button.ui-state-disabled:hover,
html button.ui-button.ui-state-disabled:active {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;

	background: #ccc;
	font-weight: normal;
	color: #222;
}

a.ui-button,
a:link.ui-button,
a:visited.ui-button,
button.ui-button {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;

	text-decoration: none;
}

button.ui-button:hover,
button.ui-button:focus {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;

	background: #ccc;
	font-weight: normal;
	color: #222;
}

a.ui-button:hover,
a.ui-button:focus {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;

	color: #222;
	text-decoration: none;
}

a.ui-button:active,
button.ui-button:active,
button.ui-button.ui-state-active:hover {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;

	background: #eee;
	font-weight: normal;
	color: #000;
}


/* ORIGINAL STYLE */



/* Slider styling */

.ui-slider-handle {
  width: 10px !important;
  border-top: 2px solid #fff !important;
  border-left: 2px solid #fff !important;
  border-right: 2px solid #000 !important;
  border-bottom: 2px solid #000 !important;
  margin-top: -7px !important;
  pointer-events: all;
}

.ui-slider {
  height: 0px !important;
  background: black !important;
  border-top: 2px solid #000 !important;
  border-left: 2px solid #000 !important;
  border-right: 2px solid #fff !important;
  border-bottom: 2px solid #fff !important;
}

.ui-slider-pips {
  pointer-events: none;
}

.ui-slider-pips .ui-slider-line {
  /* border-color: black !important; */
  background: black !important;
  width: 1px !important;
  height: 5px !important;
  margin-left: 0px !important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ui-slider-pips .ui-slider-label {
  margin-top: 4px;
  color: black !important;
  font-weight: normal !importat;
  /* display: none !important; */
}

.ui-slider-pip-selected {
  font-weight: normal !important;
}

.ui-slider-pip-initial {
  font-weight: normal !important;
}
